html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}
.container {
    width: 1200px;
    margin: 0 auto;

    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid crimson; */
}

.page-header {
    /* background-color: aquamarine; */
    border: 1px solid #ECECEC;

}


:root {
 --main-color: #212121; 
 --secondary-color: #757575;
 --accent-color: #2196F3;
 --title-color: #FFFFFF; 
 --additional-color: rgba(255, 255, 255, 0.6);
 --background-color-menu: #F5F4FA;
 --background-color-basic: #2F303A;
 --background-main-btn: #188CE8;
 --border-heder-color:  #ECECEC;
 --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 --color-icon: #AFB1B8;
}




   body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

   ul {
    list-style-type: none; 
    padding: 0px;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
padding: 0px;
margin: 0px;  
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
 position: absolute;
 clip: rect(0 0 0 0);
 width: 1px;
 height: 1px;
 margin: -1px;
}

/* Логотип */

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--main-color);
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
 padding-top: 24px;
 padding-bottom: 25px;
   
}

.logo__part {
    color: var(--accent-color);
    font-weight: 700;
}
/* Навигация */

.nav__list {
    display: flex;

}

.nav__link {
    display: block;
    color: currentColor;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--animation);
 }
 
 
    
    .nav__list .nav__item:not(:last-child) {
    margin-right: 50px;
    }

    .nav {
        margin-right: auto;
    }
    
.nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
   
}

.nav__link--current {
    color: var(--accent-color)
}

/* Контакты Хедер */
.contact__item {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
}

.contact__icon:hover,
.contact__icon:focus {
    color: var(--accent-color);
  transition: color var(--animation);
}

.contact__icon { 
    margin-right: 10px;
    fill: currentColor;

}
.contact__item:hover, .contact__item:focus {
    fill: var(--accent-color);
    transition: fill var(--animation);
}

.contact {
    display: flex;
    align-items: center;
  
}

.contact__item:not(:last-child) {
    margin-right: 30px;
}

.contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
    
}
.link {
    text-decoration: none;
    color: currentColor;
    transition: color var(--animation), fill var(--animation);
   
}


.contact .item + .item {
    margin-left: 50px;
}

.address-mail {
    margin-bottom: 9px;
}


.main-header {
    display: flex;
    align-items: center;
  
}

.page-portfolio {
    border: 1px solid var(--border-heder-color);

}

.address-mail, .address-phone {
    color: var(--additional-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    transition: color var(--animation);
}

/* .logo-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--main-color);
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    display: inline-block;
    margin-bottom: 20px;

} */

.attention__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.attention__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
    transition: background-color var(--animation);

}

.attention__link:hover, 
.attention__link:focus {
    background-color: #2196F3;
 
}

.attention__list {
    display: flex;
}

.attention__item:not(:last-child) {
    margin-right: 10px;
}

.mail {
    margin-bottom: 9px;
}

.address-mail:hover,
.address-mail:focus {
        color: var(--accent-color);
}

.address-phone:hover,
.address-phone:focus {
    color: var(--accent-color);
}
   
   



.footer__logo {
    color: var(--title-color);
}

.address-map {
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
     
}

.hero {
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    text-align: center;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/pic-hero.jpg");
   
}

.hero__text {
    color: var(--title-color);
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    margin-bottom: 30px;
   
}
.button__main {
    font-family: inherit;
    color: var(--title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus {
background-color: var(--background-main-btn);
transition: background-color var(--animation);
}

.features__point{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.features__container {
    display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        background-color: var(--background-color-menu);
        width: 270px;
        height: 120px;
}
.features {
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    width:calc((100% - 90px) / 4);
    margin-right: 30px;

}

.features__item:last-child {
    margin-right: 0px;
}

.features__description {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
}

.work {
    display: flex;
}

.work__item {
    width: calc(100% - 60px) / 3;
    margin-right: 30px;
}

.work__item:last-child {
    margin-right: 0px;
}

.section {
    padding: 94px 0;
}

.works {
    padding-top: 0px;
}


.caption.centered {
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    padding: 60px 0;
   
    background-color: var(--background-color-basic);
   
}

.container-footer {
    display: flex;
  
    align-items: baseline;
   
   

}

.container-footer-address {
    margin-right: 70px;

}


.team__speciality {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}


.team__member {
    margin-bottom: 10px;
}

.team__descr {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
   
}

.caption{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team {
    display: flex;
}

.team .team__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: #FFFFFF;
}

.team .team__item:last-child {
    margin-right: 0px;
}


.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team {
    background: var(--background-color-menu);
}

.text-content__project {
    font-weight: 700;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

}

.item-foto {
    /* padding-bottom: 20px; */
}

.example-photo {
    display: flex;
    flex-wrap: wrap;
  
}

.example-photo__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    
    box-sizing: border-box;
 
}
.text-content {
    padding-left: 24px; 
    padding-right: 24px;
    border-bottom:1px solid #EEEEEE; 
    border-left:1px solid #EEEEEE; 
    border-right: 1px solid #EEEEEE;
    padding-bottom: 20px;
    padding-top: 20px;
}

.example-photo__item:nth-child(3n) {
    margin-right: 0;
}

.example-photo__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.example-photo__item:hover,
.example-photo__item:focus {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow var(--animation);
}
.text-content__name {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
  
}

.sorting-menu {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.sorting-menu__item {
    border-radius: 4px;
    
}

.sorting-menu__item:not(:last-child) {
    margin-right: 8px;
}

.sorting-menu__btn {
    color: var(--main-color);
    background-color: var(--background-color-menu);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.64;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    text-align: center;
    min-height: 38px;
    transition: background-color var(--animation), color var(--animation), box-shadow var(--animation)
}

.sorting-menu__btn:hover, .sorting-menu__btn:focus {
    color: var(--title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon {
    width: 10px;
    height: 16px;
}
  
.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}

.socials-list__item:not(:last-child) {
    margin-right: 10px;
}
.socials-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--title-color);
    border-radius: 50%;
    transition: background-color var(--animation);
}

.socials-list__icon {
    fill: var(--color-icon);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
    fill: var(--title-color);
    transition: fill var(--animation);
}

.socials-list__link:hover,
.socials-list__link:focus {
    background-color: var(--accent-color);
  
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    outline: transparent;
    fill: var(--color-icon);
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    transition: border-color var(--animation);
}
.clients__item:not(:last-child) {
    margin-right: 30px;
}

.client {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}

.client.centered {
    text-align: center;
    margin-bottom: 50px;
}
.client-section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.clients__link:hover,
.clients__link:focus {
    border-color: var(--accent-color);
    
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--accent-color);
    transition: fill var(--animation);
}

.clients__icon {
    transition: fill var(--animation);
}
.feat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feat-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        fill: var(--main-color);
        background: var(--background-color-menu);
        border-radius: 4px;
}
.feat-item:not(:last-child) {
       margin-right: 30px;
}

.feat-item {
      padding-top: 94px;
}



.attention__item:not(:last-child) {
        margin-right: 10px;
}

.attention {
    margin-right: 93px;
}

.work__text {
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: var(--title-color);
    font: Roboto;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1,17;
    letter-spacing: 0,03em;
    text-transform: uppercase;
    
}



.section .work__item {
    position: relative;
}

.nav__link--current::after {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 2px;
    bottom: -1px;
    left: 0px;

}


.nav__link {
    position: relative;
    
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: opacity var(--animation), visibility var(--animation);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    padding: 40px;
    background-color: #ffffff;
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    height: 581px;
    

    transition: transform 300ms ease-in-out 400ms, opacity 300ms ease-in-out 400ms;
 
}



.backdrop.is-hidden .modal-wrapper {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
}

.backdrop .modal-wrapper {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.modal__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    margin-left: auto;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border var(--accent-color);
}

.modal__btn:focus,
.modal__btn:hover .modal__btn--close {
fill: var(--accent-color);
}

.modal-form__container {
    position: relative;

}

.modal__btn--close {
    fill: var(--main-color);
    transition: fill var(--animation);
    cursor: pointer;
}

.modal-container__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--main-color);

    display: inline-block;
    transition: fill var(--animation)
}



.example-photo__description {
    display: block;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    transition: transform var(--animation);
    
}

.example-photo__link:hover .example-photo__description,
.example-photo__link:focus .example-photo__description {
    transform: translateY(-100%);
    opacity: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.example-photo__link:hover,
.example-photo__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.example-photo__link {
    display: block;
    transition: box-shadow var(--animation);

}

.example-photo__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform var(--animation);
  
}

.example-photo__thumb {
    position: relative;
    overflow: hidden;
   
}

.submit {
    display: flex;
background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.attention-submit {
        font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 20px;
            margin-left: 154px;
}



.form {
    display: flex;
    margin-left: 93px;
    margin-right: 12px;
    width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
}

.modal-container__input {
  
    cursor: pointer;
    margin: 0;
    padding: 11px 12px 11px 42px;
    transition: color var(--animation);
    height: 40px;
    width: 100%;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-container__input:focus + .modal-container__icon {
    fill: var(--accent-color);
}

.modal-container__input:focus {
    border-color: var(--accent-color);
    outline: none;

}

.modal-form {
    box-sizing: border-box;
    width: 448px;
        text-align: center;
}
.modal-form__field {
    position: relative;
    display: flex;
    flex-direction: column;
  margin-bottom: 12px;
  
  
}

.modal-form__label {
  
        text-align: start;
        font-size: 12px;
        line-height: 1.17;
        margin-bottom: 4px;
        letter-spacing: 0.01em;
        color: var(--secondary-color);
   
}

.modal__title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--main-color);
}

.textarea {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
   
}

.textarea__field {
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    transition: border-color var(--animation), outline var(--animation);
         
}

.textarea__field:focus {
    border-color: var(--accent-color);
    outline: none;
}



.textarea__field::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    transition: color var(--animation)
}

.textarea__field:focus::placeholder {
    color: var(--accent-color);
}
.modal-policy__text {
   font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--secondary-color)
}
.modal-policy__label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-policy {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
}
.modal-policy__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    transition: border-color var(--animation);
}


.modal-policy__check {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 2px solid var(--main-color);
    margin-right: 8px;
    transform: scale(0.9);
    transition: transform var(--animation), background-color var(--animation), border-color var(--animation);
}

.modal-policy__input:focus + .modal-policy__check {
    border-color: var(--accent-color);

}
.modal-policy__input:checked + .modal-policy__check {
background-color: var(--accent-color);
background-origin: border-box;
border-color: var(--accent-color);
   
}
.modal-policy__agreement {
   
    color: var(--accent-color);
}

.modal__submit {
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-style: none;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        padding: 10px 55px;
    transition: var(--animation);
       
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    
        color: var(--title-color);
}

.modal__submit:hover,
.modal__submit:focus {
background: var(--background-main-btn);
}

.newsletter__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color-basic);
    margin: 0;
    padding: 15px;
    color: rgba(255, 255, 255, 0.3);
    transition: border var(--animation); color var
        
}

.newsletter__input:hover::placeholder,
.newsletter__input:focus::placeholder {
 border:  rgba(255, 255, 255, 0.5);
 color: rgba(255, 255, 255, 0.5);
}


.newsletter__input:hover,
.newsletter__input:focus {
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
}

.newsletter__field {
    margin-right: 10px;
    position: relative;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--animation);
}

.newsletter__form:hover,
.newsletter__form:focus {
    color: rgba(255, 255, 255, 0.5);
}



.newsletter__form {
    position: relative;
    display: flex;
    margin: 0 auto;
}
.newsletter__btn {
    display: flex;
    align-items: center;
    text-align: inherit;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    color: var(--title-color);
    font-family: 'Roboto';
    padding: 10px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color var(--background-main-btn)
}

.newsletter__btn:hover,
.newsletter__btn:focus {
    background-color: var(--background-main-btn)
}

.newsletter__icon {
  
    margin-left: 10px;
   
}